<li>
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar, size: 50 %>
    <%= link_to user.name, user_path(user) %>
  <% else %>
    <%= image_tag 'noimage.jpg', class:"user-icon", alt:"ユーザアイコン", size: 50 %>
  <% end %>
</li>

