<div class="container">
  <div class="bg-white">
    <%= render @users %>
  </div>
  <div class="mt-4">
    <%= paginate @users, theme: 'bootstrap-5',
              pagination_class: "pagination-sm flex-wrap justify-content-center" %>
  </div>
</div>