<% provide(:title, @title) %>
<div class="container">
  <div class="row">

    <%# マイページ画面左側 ユーザ情報%>
    <div class="col-md-4 mt-3">
      <section class= "bg-white">
        <%= render 'users/user_mypage' %>
      </section>
    </div>

    <%# マイページ画面 ユーザ一覧%>
    <div class="col-md-8 mt-3 bg-white">
      <div>
        <%= @title %>
      </div>
      <% if @users.any? %>
        <div class="users follow">
          <%= render @users %>
        </div>
        <%= paginate @users %>
      <% end %>
    </div>

  </div>
</div>