
  <%# if @feed_items.any? %>
    <%#= render @feed_items %>
  <%# end %>

<% @feed_items.each_slice(6) do |posts| %>

      <% posts.each do |post| %>
        <div class="">
            <%= render partial: 'posts/post', locals: { post: post }%>
        </div>
      <% end %>

<% end %>