<% @user ||= current_user %>
<div class="row">
  <div class="stats d-flex">
    <div class="stat flex-fill text-center">
      <%= link_to following_user_path(@user), class: "link-dark" do %>
        <strong id="following">
          <%= @user.following.count %><br>
        </strong>
        フォロー
      <% end %>
    </div>
    <div class="stat flex-fill text-center">
      <%= link_to followers_user_path(@user), class: "link-dark" do %>
        <strong id="followers">
          <%= @user.followers.count %><br />
        </strong>
        フォロワー
      <% end %>
    </div>
  </div>
</div>