<%# deviseのメッセージと重複するため、application.html.erbに記述できずflashをここに記載 %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="">
  <aside class="">
    <section class="post_form">
      <%= render 'shared/post_form' %>
    </section>
  </aside>
</div>