<%# 現在ログインしているユーザーに対して送信された通知を取得し、
自分自身が行った投稿に関する通知は除外して、表示 %>
<div class="container">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto bg-white">
    <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render notifications %>
      <%= paginate notifications %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  </div>
</div>