<div class="container">
  <div class="bg-white">
    <% @bookmarks.each do |bookmark| %>
      <%= render partial: 'bookmarks/bookmark_list', locals: { bookmark: bookmark }%>
    <% end %>
  </div>
  <div class="container mt-4">
    <%= paginate @bookmarks, theme: 'bootstrap-5',
                              pagination_class: "pagination-sm flex-wrap justify-content-center" %>
  </div>
</div>