<section>
  <div class="container bg-white">
    <div class="row">
      <div class=" border-top pt-3">

        <div class="">
          <%= link_to "パスワード",users_password_path, class: "link-dark"%>
        </div>

    </div>
  </div>
</section>