  <div class="container bg-white">
    <div class="row">
      <div class="pt-3 pb-3">
        <div class="link_list border-bottom pb-3">
          <%= link_to "プロフィール",edit_user_registration_path, class: "link-dark"%>
        </div>
        <div class="link_list pt-3">
          <%= link_to "アカウント削除",users_account_path, class: "link-dark"%>
        </div>
      </div>
    </div>
  </div>