<%# cancel account section %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mt-3">
      <%= render 'users/registrations/link_list' %>
    </div>
    <div class="col-md-8 mx-auto">
      <div>
        <h3><%= t('.cancel_my_account') %></h3>
        <p>一度アカウントを削除すると、二度と元に戻せません。十分ご注意ください。</p>
      </div>
      <div class="account">
        <p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { turbo_confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-primary" %></p>
        <%# <%= link_to t('devise.shared.links.back'), :back %>
      </div>
    </div>
  </div>
</div>